body {
    background-color: gainsboro;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 10%;
}

.top {
    font-size: 38px;
    font-weight: 700;
    background-color: rgb(149, 194, 209);
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
  }

  /* text styling */

  text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Arial';
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Arial';
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Arial';
  }

  /* font styling */

  .font-panel {
    width: 49%;
    display:inline-table
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }

  .regular {
    font-style: normal;
    font-size: normal;
  }
  
  .italic {
    font-style: italic;
    font-size: normal;
  }
  
  .bold {
    font-weight: 700;
    font-size: normal;
  }

  .Arial {
    font-family: Arial;
  }

  .monospace {
    font-family: monospace;
  }

  .Montserrat {
    font-family: Montserrat;
  }


  /* color styling */

  .color-container {
    width: 100%;
  }

  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }

  .beige {
    background-color: beige;
  }

  .lightblue {
    background-color: lightblue;
  }

  .lightcoral {
    background-color: #f08080;
  }

  .lightseagreen {
    background-color: #20b2aa;
  }

  .plum {
    background-color: plum;
  }

  .lightslategrey {
    background-color: #778899;
  }


